@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.animate {
  @apply transition-all duration-300;
}

.full-scroll-section {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.employer-details {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
